
{% extends "washu_base.html" %}

{% block add_style %}
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/add.css'%}">
{% endblock %}

{% block navbar_attribute%}bottom-margin0  {% endblock %}
{% block contents %}

	<!-- announce -->
	<div class="jumbotron jumbotron-fluid announce announce-bg text-white margin0">
		<h1 class="text-bold bottom-margin0">Hello {{ user }}!</h1>
		<hr class="line">
		<p >  </p>
	</div>
	<!-- end announce -->
    <!-- open match -->
    <div class="jumbotron jumbotron-fluid announce bg-color margin0 mypadding2">
		<h2 class="text-center text-bold"> Smart Plug </h2>
		<table class="table">
            <colgroup>
                <col width="70%"/>
                <col width="15%"/>
                <col width="15%"/>
            </colgroup>
			{% for item in lists %}
				<tr>
					<td style="text-align:left display: inline-block; vertical-align: middle; font-size: 17px;">
						{{ item.name }}
					</td>
					<td style="text-align:left">
						<img src="{{item.status}}" style="max-width:100%;"
							 onclick="javascript:location.href='{{item.onoff_url}}'">

					</td>

					<td style="text-align:right">
						<img src="{% static 'img/config.png' %}" style="max-width:100%;"
							 onclick="javascript:location.href='{% url 'events' serial_number=item.serial_number %}'">
					</td>
				</tr>
		{% endfor %}
		</table>
	</div>

{% endblock %}